.mod-overlay {
  background-color: rgba(0, 0, 0, .45);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  -webkit-overflow-scrolling: touch;

  -webkit-transition: opacity 750ms;
  -moz-transition: opacity 750ms;
  -ms-transition: opacity 750ms;
  -o-transition: opacity 750ms;
  transition: opacity 750ms;
}

.mod-overlay.is-hidden {
  opacity: 0;
}

.mod-overlay.is-shown {
  display: block;
  opacity: 1;
}

.overlay__content {
  background-color: #fafafa;
  margin: 4rem auto;
  max-width: 720px;
  width: 80%;
  padding: 2rem;
}